nvidia-cudnn-cu12==9.10.2.21
jaraco.context==6.0.1
asciitree==0.3.3
photutils==2.0.2
tomli==2.3.0
pure_eval==0.2.3
prompt_toolkit==3.0.52
typing_extensions==4.15.0
certifi==2025.11.12
lazy_loader==0.4
cycler==0.12.1
npy-append-array==0.9.19
numcodecs==0.13.1
nvidia-cufft-cu12==11.3.3.83
opencv-python==4.12.0.88
fsspec==2025.9.0
jeepney==0.9.0
japanize-matplotlib==1.1.3
colorlog==6.10.1
scikit-learn==1.7.2
pyparsing==3.2.5
traitlets==5.14.3
python-dateutil==2.9.0.post0
joblib==1.5.2
soupsieve==2.8
importlib_metadata==8.7.0
nvidia-nvshmem-cu12==3.3.20
Pygments==2.19.2
jupyterlab_widgets==3.0.16
idna==3.11
pip==25.3
six==1.17.0
widgetsnbextension==4.0.15
nvidia-cuda-runtime-cu12==12.8.90
cffi==2.0.0
ipython==8.37.0
urllib3==2.5.0
torchsummary==1.5.1
pillow==11.3.0
nvidia-cufile-cu12==1.13.1.3
torch==2.9.0+cu128
requests==2.32.5
cloudpickle==3.1.2
numpy==2.1.2
zarr==2.18.3
cryptography==46.0.3
greenlet==3.2.4
astropy-iers-data==0.2025.11.10.0.38.31
typing-inspection==0.4.2
pytz==2025.2
ipywidgets==8.1.8
click==8.3.1
contourpy==1.3.2
nvidia-nvjitlink-cu12==12.8.93
shapely==2.1.2
comm==0.2.3
sympy==1.14.0
mpmath==1.3.0
html5lib==1.1
nvidia-cuda-nvrtc-cu12==12.8.93
seaborn==0.13.2
dask==2025.11.0
nvidia-cuda-cupti-cu12==12.8.90
jedi==0.19.2
platformdirs==4.5.0
pydantic==2.12.4
graphviz==0.21
keyring==25.7.0
nvidia-curand-cu12==10.3.9.90
wandb==0.23.0
ImageIO==2.37.2
locket==1.0.0
nvidia-cusolver-cu12==11.7.3.90
reproject==0.14.1
faiss-gpu==1.7.2
sentry-sdk==2.45.0
nvidia-nvtx-cu12==12.8.90
tqdm==4.67.1
more-itertools==10.8.0
pexpect==4.9.0
alembic==1.17.2
webencodings==0.5.1
partd==1.4.2
astropy_healpix==1.1.2
PyAVM==0.9.8
scikit-image==0.25.2
optuna==4.6.0
torchaudio==2.9.0+cu128
natsort==8.4.0
APLpy==2.2.0
ptyprocess==0.7.0
nvidia-cusparselt-cu12==0.7.1
stack-data==0.6.3
zipp==3.23.0
torchvision==0.24.0+cu128
fonttools==4.60.1
pydantic_core==2.41.5
Mako==1.3.10
pyvo==1.8
exceptiongroup==1.3.0
asttokens==3.0.1
webdataset==1.0.2
matplotlib-inline==0.2.1
tzdata==2025.2
matplotlib==3.10.7
scipy==1.15.3
nvidia-nccl-cu12==2.27.5
jaraco.functools==4.3.0
braceexpand==0.1.7
pycparser==2.23
SQLAlchemy==2.0.44
fasteners==0.20
parso==0.8.5
kiwisolver==1.4.9
packaging==25.0
SecretStorage==3.4.1
annotated-types==0.7.0
Jinja2==3.1.6
tifffile==2025.5.10
nvidia-cusparse-cu12==12.5.8.93
executing==2.2.1
threadpoolctl==3.6.0
pyregion==2.3.0
psutil==7.1.3
toolz==1.1.0
backports.tarfile==1.2.0
GitPython==3.1.45
torchviz==0.0.3
gitdb==4.0.12
astroquery==0.4.11
MarkupSafe==2.1.5
triton==3.5.0
charset-normalizer==3.4.4
PyYAML==6.0.3
protobuf==6.33.1
jaraco.classes==3.4.0
pyerfa==2.0.1.5
networkx==3.3
nvidia-cublas-cu12==12.8.4.1
pandas==2.3.3
beautifulsoup4==4.14.2
filelock==3.19.1
wcwidth==0.2.14
smmap==5.0.2
astropy==6.1.7
decorator==5.2.1
pip==22.0.2
wheel==0.37.1
setuptools==59.6.0
