_wandb:
    value:
        cli_version: 0.19.11
        m: []
        python_version: 3.8.10
        t:
            "1":
                - 1
                - 5
                - 41
                - 53
                - 55
            "2":
                - 1
                - 5
                - 41
                - 53
                - 55
            "3":
                - 1
                - 2
                - 13
                - 16
                - 23
                - 55
            "4": 3.8.10
            "5": 0.19.11
            "8":
                - 5
            "12": 0.19.11
            "13": linux-x86_64
fits_random_state:
    value: 123
latent_num:
    value: 100
learning_rate:
    value: 0.0001
train_mini_batch:
    value: 16
val_mini_batch:
    value: 16
weight_decay:
    value: 0.001
